<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StartUpMessage" value="You have 10 attempts to guess a computer generated 4 digit code. Best Of Luck!!"/>
    <add key="WinningMessage" value="Congratulations!! You Won."/>
    <add key="LosingMessage" value ="You have exhausted maximum number of attempts. The correct sequence is {0}."/>
    <add key="TryAgainMessage" value ="Hard Luck!! Try again. You have {0} chances remaining."/>
    <add key="ValidationMessage" value="Please provide input in form of 4 numbers only."/>
  </appSettings>
</configuration>
